/* login page design */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(203, 203, 203, 0.934);
}
main img{
    margin-top: 50px;
    width: 1000px;
}
.sign-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin-left: 70px;
}
.sign h1{
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 70px;
}
.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign input{
    width: 350px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 5px;
}
.sign button{
    width: 360px;
    font-size: 20px;
    font-weight: 900;
    background-color: var(--btn-color);
    border: none;
    padding: 12px 0 12px 0;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: .5s;
}
.sign button:hover{
    cursor: pointer;
    background-color: var(--btn-hover-color);
}
.sign h2{
    margin-bottom: 30px;
}
.sign img{
    width: 350px;
    margin-top: 0;
}