/* main page design */
main{
    width: 100%;
    height: 92vh;
    background-color: var(--bg-color);
    /* border: 1px solid red; */
}
.main{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.con{
    width: 900px;
    height: auto;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-left:20%; */
    row-gap: 20px;
}
input{
    font-size: 35px;
    font-weight: 600;
    padding: 20px 100px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s;
}
input:hover{
    cursor: pointer;
    background-color: var(--btn-hover-color);
    box-shadow: 0px 0px 10px gray;
}
input:active{
    background-color:var(--btn-color);
    box-shadow: 0px 0px 10px gray;
}
.heading{
    font-size: 55px;
    margin-top: 30px;
}
.con-p{
    font-size: 30px;
    font-weight: 100;
    color: rgb(43, 43, 43);
}
.image img{
    position: absolute;
    bottom: -370px;
    right: -250px;
    border: none;    
}
.info{
    width: 100%;
    height: auto;
    border: none;
    margin-top: 10%;
}
.dis{
    width: 600px;
    height: auto;
    border-left:3px solid black;
    padding: 10px;
    margin-left: 29%;
}
.dis h1{
    font-size: 40px;
}
.dis p{
    font-size: 25px;
    font-weight: 100;
    color: rgb(43, 43, 43);
}